.completed {
    color: green;
}

.notCompleted {
    color: red;
}

.delete-btn{
    color: red;
    font-size: 0.5rem;
    border: 1px solid red;
    border-radius: 3px;
    padding: 5px;
    margin-left: 10px;
}

li{
    padding: 5px;
    margin: 5px;
    border: 1px solid black;    
}
